// Fonts
$ff-default: 'Fira Sans', sans-serif;

// Colors
$color-default-white: #FFFFFF;
$color-default-black: #000000;
$color-navy-blue: #0066FF;
$color-periwinkle: #BFC9E0;
$color-hawkes-blue: #D3D8DF;
$color-rock-blue: #8E9CBB;
$color-deep-pink: #FF238D;
$color-solitude: #DFE4EF;
$color-selective-yellow: #FFB800;
$color-carrot-orange: #FF8D23;
$color-deep-sky-blue: #00C2FF;

// Transitions
$trans-default: 0.3s ease-in-out;